{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br>
<div class="container text-center">
    <p class="lead">Wszystkie cztery klucze</p>
    <p class="lead">Pasują do bram</p>
    <p class="lead">Miejsca rzeczywiste</p>
    <p class="lead">Co dzień służą nam</p>
    <img src="{% static 'images/angel.jpg' %}" class="img-thumbnail" alt="Angel">
    <br><br>
    <a class="btn btn-lg btn-outline-secondary" href="{% url 'puzzles:keys' %}" role="button"> << </a>
    <a class="btn btn-lg btn-outline-secondary" href="{% url 'puzzles:keys3' %}" role="button"> >> </a>
    <br><br>
</div>

{% endblock content %}