{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br>
<div class="container text-center">
    <p class="lead">solved-crossed-lines</p>
    <p class="lead">Cztery bramy</p>
    <p class="lead">Miejska mapa</p>
    <p class="lead">Wciąż szukamy</p>
    <img src="{% static 'images/mapa.png' %}" class="img-thumbnail" alt="Map">
    <br><br>
    <a class="btn btn-lg btn-outline-secondary" href="{% url 'puzzles:solved-three-keys' %}" role="button"> << </a>
    <a class="btn btn-lg btn-outline-secondary" href="{% url 'puzzles:crossed-lines' %}" role="button"> >> </a>
    <br><br>
</div>

{% endblock content %}